body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #96e0fb;
}

h1 {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: rgb(0, 11, 14);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px; /* Adjust to bring the title closer to the board */
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0; /* Add top and bottom margin */
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #86c9df;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 1.5rem;
    }
}
